h1 toDoList
a(href="/create") New
ul
	each toDo in toDoList
		li
			span= toDo.name
			//- span &nbsp;
			//- a(href="/todos/" + toDo.id) View
			span &nbsp
			a(href="/todos/"+toDo.id+"/delete" label="delete") Xoa
			
